*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.bg-circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: auto;
}

/* Colore testi */
.color-white{
    color: white;
}

/* Colore sfondi */
.bg-grey{
    background-color: grey;
}

/* Sezioni generali */

header{
    height: clac(100vh - 80px);
    width: 50px;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    background-color: black;
}

main{
    height: calc(100vh - 80px);
    width:calc(100vw - 50px);
    overflow-y: auto;
}

footer{
    height: 80px;
    width: 100vw;
    background-color: #282828;
}

h3{
    font-size: 0.8rem;
    color:#7D7F84;
}

h2{
    font-size: 0.9rem;
    padding-bottom: 0.3rem;
    color: white;
}

h1{
    font-size: 1.5rem;
    padding-top: 1rem;
    color: white;
}

p{
    font-size: 0.7rem;
    padding-bottom: 0.5rem;
    color:#7D7F84;
}

/* Header */

header .header-card{
margin: 0.6rem 0;
}

header .header-card>:last-child{
    display: none;
}

header nav{
    flex-direction: column;
}

header img{
    width: 25px;
    margin: auto;
}

header .bg-circle>img{
    margin: auto;
}

#download{
    width: 25px;
}

header div.playlist{
    flex-direction: column;
    display: none;
}

/* main */

div.upgrade{
    text-align: right;
    padding: 20px;
    background-color: #080B12;
}

div.upgrade>button{
    border-radius: 15px;
    border: 1px solid white;
    padding: 0.5rem;
    background-color: #080B12;
    color: white;
    font-size: 0.7rem;
}

section{
    padding-left: 0.5rem;
    background-color:#141922;
}

section>nav.flex{
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 0.5rem;
}
section>nav.flex>div{
    width: 25%;
    text-align: center;
}

section .container{
    flex-wrap: wrap;
}

.main-content{
    width: 50%;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
}

.main-content>img{
    width: 100%;
}

.img-circle{
    border-radius: 50%;
}

/* Footer */

footer{
    justify-content:space-between;
    font-size: 0.8rem;
}

Footer>div{
    height: 100%;
    width: calc(100% / 3);
    padding: 1rem;
}


.footer-sx{
    align-items: center;
}

.footer-sx span,
.footer-sx i{
    display: block;
}

.footer-sx>img{
    height: 50px;
}

.footer-sx>div.artist{
    padding: 0 1rem;
}

.footer-center>div.flex{
    height: 50%;
    justify-content: center;
    align-items: center
}

.footer-center i,
.footer-center span{
    padding: 0 0.5rem;
}

.controller>:nth-child(3){
    font-size: 1.5rem;
}

.footer-dx i{
    padding: 0 0.3rem;
}

div.time-line{
    height: 6px;
    width: 80%;
    border: 1px solid white;
    border-radius: 10px;
}

.time-line>div{
    width: 40%;
    height: 4px;
    border-radius: 10px;
    background-color: aqua;
}

.footer-dx{
    align-items: center;
}


/* Whit screen >= 576px */

@media screen and (min-width:576px){
    header{
        width: 200px;
    }
    main{
        width:calc(100vw - 200px);
    }
    header .header-card>:last-child{
        display:block;
        align-self: center;
    }
    header .header-card{
        margin: 0.6rem;
    }
    #disappear{
        display: none;
    }
    header img{
        margin:0;
        padding-right: 0.5rem;
    }
    #disappear+img{
        width: 80%;
    }
    header>div>:last-child{
        border-top: 1px solid white;
        padding-top: 0.5rem;
    }

    .bg-circle{
        margin: 0;
    }

    header .bg-circle>img{
        margin: auto;
        padding: 0;
    }

    header div.playlist{
        display: block;
    }
    .playlist>span{
        display: block
    };


    section>nav.flex>div{
        width:calc(100% / 3);
    }

    .footer-sx span{
        display: inline;
    }
    
}

/* Whit screen >= 768px */
@media screen and (min-width:768px){
    section>nav.flex>div{
        width:calc(100% / 5) ;
    }
    .main-content{
        width: 25%;
    }
    .footer-sx i{
        display: inline;
        padding: 0.2rem;
    }
    .footer-dx{
        width:200px ;

    }

}

/* Whit screen >= 992px */
@media screen and (min-width:992px){
    section>nav.flex>div{
        width:calc(100% / 6) ;
    }
    section>nav.flex{
        width: 60%;
        margin: auto;
    }
    .main-content{
        width:calc(100% / 6);
    }
    

}


