*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
}

.bg-circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: auto;
}

/* Colore testi */
.color-white{
    color: white;
}

/* Colore sfondi */
.bg-grey{
    background-color: grey;
}

/* Sezioni generali */

header{
    height: calc(100vh - 80px);
    width: 50px;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    background-color: black;
}

main{
    height: calc(100vh - 80px);
    width:calc(100vw - 50px);
    overflow-y: auto;
}

footer{
    height: 80px;
    width: 100vw;
    background-color: #282828;
}

h3{
    font-size: 0.8rem;
    color:#7D7F84;
}

h2{
    font-size: 1rem;
    padding-bottom: 0.3rem;
    color: white;
}

h1{
    font-size: 1.5rem;
    padding-top: 1rem;
    color: white;
}

p{
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
    color:#7D7F84;
}

/* Header */

header .header-card{
margin: 0.6rem 0;
}

header nav{
    flex-direction: column;
}

header img{
    width: 25px;
    margin: auto;
}

header .bg-circle>img{
    margin: auto;
}

#download{
    width: 20px;
}

header div.playlist{
    flex-direction: column;
    margin-left: 0.5rem;
}

.playlist *{
    padding: 0.3rem 0;
}

.playlist i{
    font-size: 2rem;
    padding-right: 5px;
}

.playlist>div{
    align-items: center;
}

.profile{
    align-items: center;
}

header span:hover{
    color: white;
}

.disappear{
    display: none;
}

.bg-circle{
    background-color: gray;
}

/* main */

div.upgrade{
    height: 70px;
    background-color: #080B12;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5rem;
}

div.upgrade>button{
    border-radius: 15px;
    border: 1px solid white;
    padding: 0.5rem;
    background-color: #080B12;
    color: white;
    font-size: 0.7rem;
}
div.upgrade>button:hover{
    padding: 0.7rem;
    border-radius: 17px;
}

section{
    padding-left: 0.5rem;
    background-color:#141922;
}

section>nav.flex{
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 0.5rem;
}

section>nav.flex>div{
    width: calc(100% / 4 - 1rem);
    text-align: center;
}

section>nav.flex>div:hover>h3{
    color: white;
}

nav.flex .bar{
    height: 5px;
    width: 40%;
    background-color:#ADFF2F;
    margin: auto;
    margin-top: 0.2rem;
}

section .container{
    flex-wrap: wrap;
}

.main-content{
    width: 50%;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
}

.main-content img{
    width: 100%;
}

.main-content-cover{
    position: relative;
}

.main-content-cover>i{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3rem;
    color: white;
    display: none;
}

.main-content-cover:hover>i{
    display: block;
}

.main-content-cover:hover>img{
    opacity: 60%;

}

.img-circle{
    border-radius: 50%;
}

/* Footer */

footer{
    justify-content:space-between;
    color:#7D7F84;
}

Footer>div{
    height: 100%;
    width: calc(100% / 3);
    padding: 1rem;
}

footer i:hover{
    color: white;
}

.footer-sx{
    align-items: center;
}

.footer-sx a{
    font-size: 0.7rem;
    text-decoration: none;
    color:#7D7F84;
}

.footer-sx a:hover{
    text-decoration:underline;
    color: white;
}

.footer-sx a,
.footer-sx i{
    display: block;
}

.footer-sx>img{
    height: 50px;
}

.footer-sx>div.artist{
    padding: 0 0.5rem;
}

.footer-center>div.flex{
    height: 50%;
    justify-content: center;
    align-items: center
}

.footer-center i,
.footer-center span:not(.dot){
    padding: 0 0.5rem;
}

.controller>:nth-child(3){
    font-size: 1.5rem;
}

.footer-dx i{
    padding: 0 0.3rem;
}

div.time-line{
    height: 6px;
    width: 80%;
    border: 1px solid #7D7F84;
    border-radius: 10px;
}

div.time-line>div{
    width: 40%;
    height: 4px;
    border-radius: 10px 0 0 10px;
    background-color:white;
    position: relative;
}

div.time-line .dot{
    color: white;
    position: absolute;
    right: -3px; bottom: -8px;
    font-size:larger;
    display: none;
}

div.time-line>div:hover{
    background-color:#ADFF2F;
}

.time-line:hover .dot{
    display: block
}

.footer-dx{
    align-items: center;
}


/* Whit screen >= 576px */

@media screen and (min-width:576px){
    header{
        width: 200px;
        font-size: 0.8rem;
        color: #7D7F84
    }
    main{
        width:calc(100vw - 200px);
    }
    header .header-card{
        margin: 0.6rem;
    }
    .header-card>span{
    align-self: center;
    }
    .disappear{
        display: inline-block
    }
    header img{
        margin:0;
        margin-right: 0.5rem;
        vertical-align: middle;
    }
    header img.disappear{
        width: 80%;
    }
    header #out{
        display: none;
    }
    header>div>:last-child{
        border-top: 1px solid white;
        padding-top: 0.5rem;
    }

    .bg-circle{
        margin: 0 0.5rem 0 0;
    }

    header .bg-circle>img{
        margin: auto;
        padding: 0;
    }

    .playlist>span{
        display: block;
    }
    section>nav.flex>div{
        width: calc(100% / 3 - 1rem);
    }
    .footer-sx a{
        display: inline;
    }
    
}

/* Whit screen >= 768px */
@media screen and (min-width:768px){
    section>nav.flex>div{
        width:calc(100% / 5 - 1rem) ;
    }
    .main-content{
        width: 25%;
    }
    .footer-sx i{
        display: inline;
        padding: 0.2rem;
    }
    .footer-dx,
    .footer-sx{
        width:240px ;

    }
}

/* Whit screen >= 992px */
@media screen and (min-width:992px){
    section>nav.flex>div{
        width:calc(100% / 6 - 1rem) ;
    }
    section>nav.flex{
        width: 70%;
        margin: auto;
    }
    .main-content{
        width:calc(100% / 6);
    }
    

}


